<div style="padding: 13px;">
    <div class="content" fxLayout="row wrap" fxLayoutGap="10px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card  style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>About</mat-card-title>
            <mat-card-subtitle>What am I doing?
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
               I'm trying to learn angular so I am building this to see how I get on
            </p>
        </mat-card-content>
       
    </mat-card>
</div>
</div>
</div>