.content{
    padding:16px;
}

.search{
    margin:auto;
}

.noResults{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noResults button{
    width: 100%;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
}